.list {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  height: 250px;
  width: 1000px;
}

.item {
  padding: 20px;
  flex-basis: calc((100% - 80px) / 5);
  border: 3px solid currentColor;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgb(120, 119, 119);
}
